<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Telerik.Reporting"
            type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=9.2.15.1105, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
            allowLocation="true"
            allowDefinition="Everywhere"/>


    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DaocSpellCraftCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <Telerik.Reporting>
    <Extensions>
      <Render>
        <Extension name="PDF" description="PDF">
          <Parameters>
            <Parameter name="DocumentAuthor" value="Xylene DAoC SpellCraft Calculator"/>
          </Parameters>
        </Extension>
        <Extension name="HTML5"
                             type="Telerik.Reporting.Html5Rendering.Html5Report, Telerik.Reporting, Version=9.2.15.1105, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
                             description="HTML">
          <Parameters>
            <Parameter name="UseSVG" value="false" />
            <Parameter name="ContentOnly" value="True" />
            <Parameter name="StartPage" value="0" />
          </Parameters>
        </Extension>
      </Render>
    </Extensions>
  </Telerik.Reporting>

  <userSettings>
    <DaocSpellCraftCalculator.Properties.Settings>
      <setting name="RepTemplates" serializeAs="String">
        <value />
      </setting>
      <setting name="RepItems" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomizeTemplates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeRaciales" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RespectBonusLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepIniFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickBarMacro" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BankMAcro" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SlotMacro" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Expression_Dark</value>
      </setting>
      <setting name="SeparatorMacro" serializeAs="String">
        <value>False</value>
      </setting>
    </DaocSpellCraftCalculator.Properties.Settings>
  </userSettings>


  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.3.1104.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.3.1104.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.3.1104.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Data" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.3.1104.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>